.extra-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.extra-detail{
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    background-color: white;
    padding: 1rem 2rem;
}

.extra-detail h2{
    font-size: 1.2rem;
    font-weight: bold;
}

.extra-detail svg{
    height: .9rem;
}

.title-detail{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    align-items: center;
    transition: transform .2s ease-in-out;
}

.dropdown-container{
    flex-direction: column;
    gap: 1.4rem;
    padding: .5rem;
    display: none;
}

.date-div{
    display: flex;
    gap: 1rem;
    /* flex-wrap: wrap; */
}

.skill, .education, .experience{
    display: flex;
    /* justify-content: space-between; */
    padding: 1rem ;
    background-color: rgb(235, 234, 252);
    border-radius: 1rem;
}

.skill p, .education p, .experience p{
    flex: 1;
    cursor: pointer;
}

svg{
    cursor: pointer;
}

button{
    cursor: pointer;
}

button:hover{
    opacity: .5;
}

.extra-detail-icons{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.extra-detail.button{
    background-color: white;
    justify-content: center;
    padding: .7rem;
}

.extra-detail.button button{
    background-color: rgb(235, 234, 252);
    border: none;
    padding: .5rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
}

.skill-form,.edit-form, .education-form, .experience-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-buttons{
    display: flex;
    justify-content: space-between;
}

.form-buttons button{
    padding: .5rem 1rem;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    color: white;

}

.confirm-button{
    background-color: rgb(96, 214, 96);
}

.cancel-button{
    background-color: rgb(255, 0, 0);
}

.edit-form{
    width: 80%;
    margin: auto auto;
}

.visible {
    display: flex;
    animation: expand .2s ease-in-out;
    transform-origin: top;
}

.rotate{
    animation: spin .2s ease-in-out forwards 1;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}