.extra-features, .personal-details{
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}

.feature-card{
    display: flex;
    background-color: rgba(227, 226, 251, 0.724);
    padding: .5rem;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.feature-card img{
    height: 1.2rem;
}