:root{
	--primary-color : rgba(227, 226, 251, 0.724);
	--secondary-color : rgb(255, 255, 255);
	--text-color : black;
}

.dark-mode{
	--primary-color : rgba(79, 79, 90, 0.667);
	--secondary-color : black;
	--text-color : rgb(255, 255, 255);
}

.extra-features, .personal-details{
    box-sizing: border-box;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}

.feature-card{
    display: flex;
    background-color: var(--primary-color);
    padding: .5rem;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.feature-card img{
    height: 1.2rem;
}

.feature-card:hover{
    opacity: .6;
}