:root {
    --size: 500px;
  }

.cv-preview {
  width: 70%;
  background-color: white;
  aspect-ratio: 1 / 1.41; /* A4 aspect ratio (width / height) */
  min-width: calc(1 * var(--size)); /* Set minimum width based on aspect ratio */
  margin: 0 auto;
  margin-bottom: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

.cv-container{
  width: 90%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cv-preview-personal{
  padding: 1rem;
  border-bottom: 1px dotted black;
  width: 90%;
  margin: auto;
}

.cv-preview-personal h1{
  font-size: 1.8rem;
  font-weight: bold;
  max-width: fit-content;
  margin: 1rem auto;
}

.cv-preview-personal p{
  font-size: 1rem;
  margin: .4rem auto;
  font-weight: 550;
  max-width: fit-content;
  max-height: fit-content;
}

.professional-summary h3{
  font-size: 1.4rem;
  font-weight: bold;
}

.professional-summary p{
  margin: .5rem 3rem;
  text-align: justify;
  font-size: 1.2rem;
}